body{
    background: url(../img/fon.jpg) no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, serif;
    overflow-x: hidden;
}
.container{
    width: 1366px;
    margin: 0 auto;
    position: relative;
}

/*header*/
.header{
    height: 54px;
    background: rgba(0, 0, 0, 0.41);
}
/*Логотип*/
.header-text{
    float: left;
    padding: 14px 78px;
}
.header-title-link{
    transition: all 0.2s ease;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.header-title-link:hover{
    color: #3cb878;
}
/*Иконки*/
.header-icon{
    position: relative;
    float: right;
    width: 150px;
    height: 20px;
}
.header-icon-sprite {
    position: relative;
}
.header-icon-sprite li{
    margin:0;
    padding:0;
    position:absolute;
    top: 17px;
}
.header-icon-sprite li, .sprite a{
    height:20px;
    display:block;
}
.header-icon-sprite-link{
    display: block;
    width: 28px;
    height: 20px;
}
.calendar{
    right: 125px;
    width:20px;
    background: url(../img/logo.png) -106px -10px;
}
.calendar:hover{
    right: 125px;
    width:20px;
    background: url(../img/logo.png) -106px -49px;
}
.forum{
    right: 70px;
    width: 28px;
    background: url(../img/logo.png) -10px -10px;
}
.forum:hover{
    right: 70px;
    width: 28px;
    background: url(../img/logo.png) -58px -10px;
}
.journey{
    right: 25px;
    width: 20px;
    background: url(../img/logo.png) -10px -50px;
}
.journey:hover{
    right: 25px;
    width: 20px;
    background: url(../img/logo.png) -50px -50px;
}
/*Вход в систему*/
.header-user{
    display: flex;
    align-items: center;
    width: 300px;
    height: 54px;
    float: right;
}
.header-user::before{
    content: "|";
    opacity: 0.5;
    color: #fff;
}
.header-user-text{
    font-size: 14px;
    padding: 20px 24px;
    color: #fff;
}
.header-user-link{
    text-transform: capitalize;
    color: #3cb878;
}
/*Выравнивание по ширине и высоте экрана*/
.container-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
}
/*content-form*/
.wrapper{
    background: #fff;
    width: 444px;
    height: 584px;
    /* margin: 0 auto; */
    border-radius: 10px;
    /* margin-top: 65px; */
}
.wrapper-square{
    float: left;
    width: 18px;
    height: 18px;
    background:#3cb878;
    margin-top: 29px;
}
.wrapper-form{
    padding: 29px 40px 0 58px;
    width: 322px;
}
/*заполнение формы*/
.wrapper-form-top{
    display: flex;
    align-items: baseline;
}
.wrapper-form-title{
    text-transform: capitalize;
    font-size: 20px;
}
.wrapper-form-link{
    font-size: 14px;
    margin-left: auto;
}   
/*Кнопки*/
.wrapper-form-btn{
    margin-top: 18px;
}
.btn{
    color: rgba(0,0,0,0.3);
    height: 46px;
    border-radius: 5px;
    font-size: 16px;
}
.btn-blue{
    background: #305db8;
    float: left;
    display: flex;
    align-items: center;
}
.btn-red{
    background: #df4a32;
    float: right;
    display: flex;
    align-items: center;
}
.btn-blue-text::after{
    display: inline-block;
    content: "Facebook";
    font-size: 16px;  
    padding: 5px 25px 4px 19px;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-blue-text::before{
    content: " ";
    background: url(../img/facebook1.png)no-repeat center center;
    height: 28px;
    padding: 10px 17px 8px 20px;
    color: #fff;
}
.btn-red-text::after{
    display: inline-block;
    content: "Google";
    font-size: 16px;  
    padding: 5px 25px 4px 25px;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-red-text::before{
    content: " ";
    background: url(../img/G.png)no-repeat center center;
    height: 28px;
    padding: 10px 16px 8px 34px;
    color: #fff;
}